.form-control:focus {
    border-color: var(--app-main-theme-background-color) !important;
    outline: 0;
    box-shadow: 0px 1px 2px 0px #1018280D !important;
}

.form-label {
    color: var(--font-color1) !important;
    margin-bottom: 2px !important;
    /* font-weight: 500; */
}

.row {
    --bs-gutter-x: 0px !important
}

.padding-to-form {
    padding-right: 30px !important;
}

.image-main-wrapper-data {
    padding: 20px;
    border: 1px solid #EAECF0;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-main-wrapper-cross-icon {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(63, 97, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-control {
    padding: 8px 10px;
    border-radius: 10px;
}

input::placeholder {
    color: rgba(102, 102, 102, 1) !important;
}

.css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: var(--primary-color) !important;
}

.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px 16px !important;
    border-radius: 10px !important;
}

.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 10px !important;
}

.css-10o2lyd-MuiStack-root>.MuiTextField-root,
.css-10o2lyd-MuiStack-root>.MuiPickersTextField-root {
    width: -webkit-fill-available !important;
}

.css-10o2lyd-MuiStack-root {
    padding-top: 0px !important;
}

.css-1ll44ll-MuiOutlinedInput-notchedOutline {
    border-color: #ced4da !important;
}