.arraow-background {
    width: 35px;
    height: 35px;
    background: rgba(54, 128, 127, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    color: var(--primary-color);
}